chat.json
{
  "name": "MobiliAI Chatbot",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "id": "78250c10-af2f-4daa-b76e-e3a106c141e8",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        80,
        928
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": \"{{ $json.output || $json.text || $json.response }}\"\n}",
        "options": {}
      },
      "id": "16e9d159-a2bf-4645-8dc6-70c154862e54",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        496,
        640
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-08-06",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "d35ca6ee-78da-4428-88ca-0a31f115e64a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -32,
        816
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "xtZQ9GJJegvBjX40",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "Enviar_Mensagem_Humano",
        "description": "Use esta ferramenta quando o cliente precisar falar com um atendente humano, tiver uma dúvida muito complexa que você não consegue resolver, ou quando o cliente explicitamente solicitar falar com uma pessoa. Sempre colete nome, email e uma descrição detalhada da dúvida ou problema antes de usar esta ferramenta.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": ""
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "message"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"email\": \"email do cliente\",\n  \"name\": \"nome completo do cliente\",\n  \"message\": \"descrição detalhada da dúvida ou problema do cliente\",\n  \"subject\": \"assunto da mensagem\"\n}"
      },
      "id": "cc2cc40c-02b0-4487-8f59-9d4181fab309",
      "name": "Send Message",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        240,
        1136
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*",
          "responseMode": "responseNode"
        }
      },
      "id": "34fb4b99-faad-484d-9d94-e08acbcc0fa0",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -768,
        656
      ],
      "webhookId": "f406671e-c954-4691-b39a-66c90aa2f103",
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Você é um assistente virtual inteligente e amigável da MobiliAI, uma loja especializada em móveis e decoração. Seu objetivo é ajudar os clientes com suas dúvidas de forma clara, profissional e prestativa.\n\n**SOBRE A MOBILIAI:**\n- Loja de móveis e decoração com múltiplas filiais\n- Sistema de compra online com carrinho de compras\n- Entrega para todo o Brasil\n- Visualização de móveis em ambientes usando IA\n- Sistema de favoritos e comparação de produtos\n\n**SUAS RESPONSABILIDADES:**\n1. **Dúvidas sobre Entrega:**\n   - Prazos de entrega: Entrega Padrão (5-10 dias úteis, R$ 29,90), Entrega Expressa (2-5 dias úteis, R$ 49,90), Retirada na Loja (grátis)\n   - Frete grátis para compras acima de R$ 299,90\n   - Áreas de cobertura: Grande São Paulo, Região Metropolitana do Rio de Janeiro, Grande Belo Horizonte, Região Metropolitana de Curitiba, Grande Porto Alegre, Região Metropolitana de Brasília e outras regiões do Brasil\n   - Rastreamento de pedidos via código enviado por email e SMS\n   - Status: Pedido Confirmado → Em Trânsito → Entregue\n\n2. **Como Usar a Loja:**\n   - Navegar pelo catálogo de produtos\n   - Buscar produtos por nome, categoria, marca, estilo\n   - Filtrar por preço, categoria, estilo\n   - Adicionar produtos ao carrinho\n   - Visualizar detalhes do produto\n   - Adicionar produtos aos favoritos\n   - Comparar produtos\n   - Finalizar compra no checkout\n   - Pagamento via PIX (AbacatePay)\n\n3. **Produtos e Móveis:**\n   - Catálogo com diversas categorias: Sofá, Mesa, Cadeira, Armário, Cama, etc.\n   - Diferentes estilos: Moderno, Clássico, Contemporâneo, etc.\n   - Materiais: Madeira, Metal, Vidro, Tecido, etc.\n   - Produtos em destaque: Featured, Novos, Best Sellers\n   - Visualização 3D de produtos\n   - Visualização de móveis em ambientes usando IA\n\n4. **Processo de Compra:**\n   - Criar conta ou fazer login\n   - Navegar e adicionar produtos ao carrinho\n   - Revisar carrinho e ajustar quantidades\n   - Preencher dados de entrega\n   - Escolher forma de pagamento (PIX)\n   - Confirmar pedido\n   - Acompanhar pedido pelo código de rastreamento\n\n5. **Outras Dúvidas:**\n   - Horários de funcionamento das lojas físicas\n   - Localização das lojas\n   - Política de troca e devolução\n   - Garantia dos produtos\n   - Formas de pagamento\n   - Programa de fidelidade (se houver)\n\n**DIRETRIZES DE COMUNICAÇÃO:**\n- Seja sempre educado, prestativo e profissional\n- Use linguagem clara e acessível\n- Responda de forma completa, mas concisa\n- Se não souber algo, seja honesto e ofereça conectar o cliente com um atendente humano\n- Use emojis moderadamente para tornar a conversa mais amigável\n- Sempre confirme se a dúvida foi esclarecida\n- Se o cliente precisar de ajuda mais complexa, ofereça conectar com um humano\n\n**QUANDO ENVIAR PARA ATENDENTE HUMANO:**\n- Cliente explicitamente pede para falar com uma pessoa\n- Dúvida muito complexa que você não consegue resolver\n- Problema técnico ou reclamação\n- Solicitação especial ou personalizada\n- Antes de enviar, sempre colete: nome completo, email e descrição detalhada da dúvida\n\n**EXEMPLOS DE RESPOSTAS:**\n\nCliente: \"Qual o prazo de entrega?\"\nVocê: \"Temos três opções de entrega:\n• Entrega Padrão: 5 a 10 dias úteis - R$ 29,90\n• Entrega Expressa: 2 a 5 dias úteis - R$ 49,90\n• Retirada na Loja: Grátis e imediata\n\nE tem mais: compras acima de R$ 299,90 têm frete grátis! 🎉\n\nQual opção você prefere?\"\n\nCliente: \"Como faço para comprar?\"\nVocê: \"É super simples! 😊\n\n1️⃣ Navegue pelo nosso catálogo e encontre os móveis que você gosta\n2️⃣ Clique em 'Adicionar ao Carrinho' nos produtos desejados\n3️⃣ Vá até o carrinho e revise seus itens\n4️⃣ Clique em 'Finalizar Compra'\n5️⃣ Preencha seus dados de entrega\n6️⃣ Escolha a forma de pagamento (aceitamos PIX)\n7️⃣ Confirme seu pedido!\n\nApós a confirmação, você receberá um código de rastreamento por email. Precisa de ajuda com algum passo específico?\"\n\nCliente: \"Vocês entregam em [cidade]?\"\nVocê: \"Sim! Entregamos para todo o Brasil! 🚚\n\nPara as principais regiões metropolitanas (São Paulo, Rio, Belo Horizonte, Curitiba, Porto Alegre e Brasília), temos entrega mais rápida.\n\nPara outras cidades, o prazo e valor do frete são calculados no checkout baseado no seu endereço.\n\nQual é sua cidade? Posso te dar uma estimativa mais precisa!\"\n\n**IMPORTANTE:**\n- Sempre responda em português brasileiro\n- Seja empático e entenda as necessidades do cliente\n- Não invente informações que você não tem certeza\n- Se não souber algo, seja honesto e ofereça ajuda alternativa"
        }
      },
      "id": "6c5ab65c-0568-4ed2-82f1-6e1cae9fcb8b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        80,
        640
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "158a0b91-534d-4745-b10e-8a7c97050861",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "92caf500-39e0-4ce6-83be-5263dd1fab86",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -544,
        656
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"output\": \"Olá! Sou o assistente virtual da MobiliAI. Como posso te ajudar hoje? Posso ajudar com informações sobre produtos, entrega, pedidos e muito mais! 😊\"\n}",
        "options": {}
      },
      "id": "e72c9cb8-6317-43bb-bf79-33dce9b0fb0a",
      "name": "Respond With Initial Message",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -256,
        768
      ],
      "typeVersion": 1.1,
      "disabled": false
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond With Initial Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4b1774b-3bf4-4438-a84f-c3aaabac7bfe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b71e8c8686d2a5bf3befc391e55ef400b74189864d87707e143aca40b0491c1"
  },
  "id": "dWMfI92YF2EZecBf",
  "tags": []
}
